$govuk-assets-path: "/register-charity-hmrc/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/register-charity-hmrc/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

@import "timeout-dialog";
@import "autocomplete";
@import "currency-input";
@import "percentage-input";
@import "task-list";
@import "summary-list";
@import "language-switch";

.govuk-fieldset__heading, .govuk-label-wrapper {
  padding-bottom: 20px;
  @include govuk-media-query($from: 40.0625em) {
    padding-bottom: 40px;
  }
}

.autocomplete__menu {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
}
